{% extends 'base.html.twig' %}

{% block title %}Project detail{% endblock %}

{% block body %}
   <div class="container-fluid">
       <h1 class="text-center my-5">
           {{ project.title }}
       </h1>
       <div class="row">
           <div class="col-4">
               <img class="img-medium" src="{{ project.image }}" alt="">
           </div>
           <div class="col-6 ml-5">
                <p>
                    {{ project.description }}
                </p>
               <div class="d-flex justify-content-around">
                   <a href="{{ project.url }}" target="_blank" class="btn outline-dark">
                       <i class="fab fa-github"></i>
                       Github
                   </a>
                   <a href="{{ project.url }}/archive/master.zip" class="btn btn-outline-info">
                       <i class="fab fa-download"></i>
                       Télécharger
                   </a>
               </div>
           </div>
       </div>
   </div>
{% endblock %}